* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}



.caixa {
    height: 100vh;
    width: 100vw;
}

.parte1 {
    display: inline-block;
    width: 60%;
    padding-left: 135px;
    margin-top: 20%;
}

.parte2 {
    width: 40%;
    height: 100vh;
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.25);
    position: absolute;
}


h1 {
    font-size: 70px;
    font-weight: 400;
    line-height: 80px;
    width: 368px;
    color: #5D5D7D;

}

p {
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;
    color: #5D5D7D;
    width: 540px;
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 60%;
}

button {
    height: 62px;
    width: 269px;
    background: #9499EA;
    box-shadow: 0px 10px 24px 0px #9499EA19;
    border: none;
    border-radius: 28px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}


header {
    margin-top: 24px;
    margin-left: 57px;
}

a {
    font-size: 28px;
    font-weight: 400;
    line-height: 41px;
    color: #5D5D7D;
    margin-right: 41px;
    cursor: pointer;
}

a:nth-child(2) {
    opacity: 0.4;
}

img {
    position: relative;
    top: 20%;
    right: 130px;
}

@media screen and (max-width:900px) {
    .parte1 {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .parte2 {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;
    }

    img {
        position: static;
        width: 90%;
    }

    header {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 50px 50px 0px 50px;
        text-align: center;
    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }

    button {
        margin: auto;
        display: block;
    }